/* For All body */

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1650px;
}
/* --- */

/*Top-Bar Start*/
.navbarr {
    background-color: #F32735 !important;
    height: 52px;
}

ul.navbar-nav.ms-auto.mb-2.mb-lg-0.toph_link.pe-3.ps-3 {
    height: 52px;
}

.tm-social {
    background-color: #ffffff;
    margin-right: 20px;
    padding: 0px 5px;
}

.fcolor {
    color: #000000;
}

.wcolor {
    color: #ffffff;
}

.toph_link {
    position: relative;
}

ul.toph_link li:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-left: 3px solid #fff;
    transform: skew(-25deg, 0deg);
}

ul.toph_link li {
    position: relative;
}

.dropdown-item {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.faphone {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}


/*responsive*/

@media screen and (max-width: 600px) {
    .button_shap {
        margin-left: 30px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .free{
        font-size: 12px !important;
    }
    .top-nav .navbar-nav {
        flex-direction: revert;
      }
      .war{
        display: none;
      }
      .navbarr {
        display: flex;
        justify-content: center;
        align-items: center;
      }
}

@media screen and (max-width: 992px) {

    .top-nav .navbar-nav {
        flex-direction: revert;
      }
}

@media screen and (max-width: 1680px) {
    .button_shap {
        margin-right: 10px;
    }
}

/*Top-Bar End*/


/*Header-Menu Start*/

.nav-link {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #231f20;
}

.button_shap {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 25px;
    text-align: center;
    z-index: 1;
}

.button_shap:before {
    background-color: #03174C;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: skew(-25deg, 0deg);
    transition: all 0.2s ease;
    content: "";
    z-index: -1;
}

button.button_shap {
    background: transparent;
    border: none;
}

.button_shap {
    position: relative;
}

/*Header-Menu End*/


/* Section-1 Start */

.fadeInRight {
    font-family: 'oswald';
    font-weight: 900;
    font-size: 60px;
    line-height: 72px;
    color: #03174c;
}

.animated {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #231f20;
}

.visible {
    font-family: 'oswald';
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    color: #ec0e1d;
}

.fades {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #231f20;
}

/*Form*/
form.row.g-3 {
    width: 80%;
}

.red_btn {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    background-color: #F32735;
    text-decoration: none;
    padding: 15px 25px;
    text-align: center;
    border: none;
}

.fadess {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #231f20;
    margin-top: 10px;
}

.fadess .btn {
    margin-bottom: 8px;
    padding-left: 0;
}

.fa-play-circle:before {
    content: "\f144";
    margin-right: 5px;
    font-size: 25px;
    color: #00A7E1;
}

a.red_btn1 {
    top: 78%;
}

.red_btn1 {
    font-family: 'poppins';
    transform: skew(-25deg, 0deg);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 25px;
    text-align: center;
    background-color: red;
    margin-left: 95px;
}

span.btn_text {
    transform: skew(25deg, 0deg) !important;
    display: block;
}

button.red_btn1 {
    background: transparent;
    border: none;
}

.red_btn1 {
    position: absolute;
}


/*Responsive*/

@media screen and (max-width: 991px) {
    .fadeInRight {
        font-size: 40px;
        line-height: 50px;
    }

    .animated {
        font-size: 17px;
        line-height: 30px;
    }

    .vid iframe {
        width: 100%;
    }

    form.row.g-3 {
        width: 100%;
    }

    .content-txt {
        padding-top: 0px !important;
        margin-top: 30px !important;
    }

    .fadess {
        margin-left: 0px !important;
        margin-top: 0px !important;
    }

    .red_btn1 {
        margin-left: 15px;
    }

    .startbtn {
        flex-direction: column;
    }

    .red_btn {
        font-size: 16px;
    }
}

@media only screen and (min-width:992px) and (max-width: 1550px) {
    .fadeInRight {
        font-size: 40px;
        line-height: 50px;
    }

    form.row.g-3 {
        width: 100%;
    }

    .startbtn {
        flex-direction: column;
    }

    .red_btn {
        font-size: 14px;
    }
}

/* Section-1 End */


/* Section-2 Start */

.marquee-content img {
    margin-right: 100px;
}

/* Section-2 End */


/* Section-3 Start */

.test {
    background-color: #021D49;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 100px;
}

.viewimg {
    width: 170px;
    height: 170px;
    display: block;
    margin: auto;
}

.view {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.allpadding {
    padding-left: 150px;
    padding-right: 120px;
}

.star {
    font-size: 20px;
    color: #F8C51E;
}

.afterstartext {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}

.read {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #00a7e1;
}

.nametext {
    font-family: 'poppins';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #00a7e1;
}


/*Responsive*/

@media screen and (max-width: 991px) {
    .allpadding {
        padding-left: 70px;
        padding-right: 70px;
    }
    .test{
        margin-bottom: 20px;
    }
}

/* Section-3 End */


/* Section-4 Start */
.veteran {
    font-family: 'oswald';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #03174c;
    padding-top: 0px;
}

.fadeIn {
    font-family: 'oswald';
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    color: #03174c;
    padding-top: 0px;
}

.red_btnn {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 25px;
    text-align: center;
}

button.red_btnn {
    background: red !important;
    border: none;
    transform: skew(-25deg, 0deg) !important;
}

.red_btnn {
    position: relative;
}

.veteran {
    font-size: 15px;
}


/*Responsive*/

@media screen and (max-width: 495px) {
    .usa {
        flex-direction: column;
    }

    .button_shap {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .fadeIn {
        font-size: 40px;
        line-height: 50px;
    }

    .top {
        padding-left: 15px !important;
    }

    .usa {
        padding-left: 15px !important;
    }
}

/* Section-4 End */


/* Section-5 Start */

.what {
    background-color: #E4E5E6;
}

.goods_roofing {
    margin: auto;
}

.hr {
    width: 13% !important;
    border: 3px solid #F32735 !important;
    border-radius: 5px;
    opacity: 1;
}

/*Responsive*/

@media screen and (max-width: 991px) {
    .findout {
        margin-left: 15px;
        margin-bottom: 15px;
    }

    .fades {
        padding-right: 0px !important;
    }
    .what{
        padding-top: 0px !important;
        margin-top: 0px !important;
    }
}

@media only screen and (min-width:992px) and (max-width: 1680px) {
    .findout {
        margin-left: 15px;
        margin-bottom: 15px;
    }
}

/* Section-5 End */


/* Section-6 Start */
.footer-card {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F32735;
}

.card-logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

.card-title {
    text-align: center;
    font-family: 'oswald';
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    color: #00A7E1;
}

.card-text {
    text-align: center;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #231f20;
}

.center {
    text-align: center;
}

.centertext {
    text-align: center;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #231f20;
}

.card {
    box-shadow: 0 0 40px #202d5126;
    border: none;
    border-radius: 0px;
}

.good_roofings {
    background-color: red;
}

.process {
    color: #ffffff;
}

.alignmiddle {
    align-items: center !important;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


/*Responsive*/

@media screen and (max-width: 991px) {
    .centertext {
        padding-right: 0px !important;
    }

    .footer-card {
        font-size: 15px;
    }
    .ourservices{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

}

@media only screen and (min-width:768px) and (max-width: 1009px) {
    .good_roofing {
        width: 50%;
    }
}

@media screen and (max-width: 1009px) {
    .good_roofing .card {
        min-height: 455px !important;
    }

    .good_roofing.transparent3 {
        margin-top: 25px;
    }

    .card-text {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

}

@media only screen and (min-width:1010px) and (max-width:1099px) {
    .transparent3 .card {
        min-height: 450px !important;
    }

    .transparent4 .card {
        min-height: 400px !important;
    }

    .card-text {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media only screen and (min-width:1100px) and (max-width:1270px) {
    .transparent3 .card {
        min-height: 500px !important;
    }

    .transparent4 .card {
        min-height: 430px !important;
    }
}

@media only screen and (min-width:1271px) and (max-width:1607px) {
    .transparent3 .card {
        min-height: 470px !important;
    }

    .transparent4 .card {
        min-height: 400px !important;
    }
}

/* Section-6 End */


/* Section-7 Start */

section#roofslider {
    min-height: 450px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.visible1 {
    font-family: 'oswald';
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    color: #ec0e1d;
}

.content {
    font-family: 'poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #231f20;
}

.button_shapp {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 25px;
    text-align: center;
    z-index: 1;
}

.button_shapp:before {
    background-color: #03174C;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: skew(-25deg, 0deg);
    transition: all 0.2s ease;
    content: "";
    z-index: -1;
}

button.button_shapp {
    background: transparent;
    border: none;
}

.button_shapp {
    position: relative;
}


/*Responsive*/

@media screen and (max-width: 767px) {
    .company {
        background-position: top left !important;
    }
}

@media screen and (max-width: 1700px) {
    .carbg {
        padding-bottom: 40px;
    }

    .button_shapp {
        margin-left: 15px !important;
    }
}

/* Section-7 End */


/* Section-8 Start */

#roofs {
    background-color: #ec0e1d;
}

.fadeIns {
    font-family: 'oswald';
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    color: #ffffff;
    padding-top: 0px;
}

video {
    border: 5px solid #ffffff;
}

.contents {
    font-family: 'poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.Preferred {
    color: #ffffff;
}

.red_btn3 {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    background-color: #03174c;
    text-decoration: none;
    padding: 15px 18px;
    text-align: center;
    border: none;
}

input#inputAddres {
    background-color: transparent;
    border-radius: 0px;
}

input#inputAddres::placeholder {
    color: #ffffff;
}

input#inputEmail4s {
    background-color: transparent;
    border-radius: 0px;
    color: #ffffff;
}

.form-control {
    border-radius: none !important;
}

.watch {
    font-family: 'oswald';
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    text-align: left;
}

.paul {
    margin-left: 70%;
}

.start {
    width: 99% !important;
}


/*Responsive*/

@media screen and (max-width: 1024px) {
    .fadeIns {
        font-size: 40px;
        line-height: 50px;
    }
}

@media screen and (max-width: 1380px) {
    .req {
        flex-direction: column;
    }

    .watchpaul {
        padding-top: 10px !important;
    }

    .paul {
        display: none;
    }
}

@media only screen and (min-width:767px) and (max-width: 1380px) {
    .works .btn {
        width: 222%;
    }
}

@media only screen and (min-width:992px) and (max-width: 1340px) {
    .red_btn3 {
        width: 140%;
    }
}

@media only screen and (min-width:992px) and (max-width: 1650px) {
    .vid iframe {
        width: 100%;
    }
}

/* Section-8 End */


/* Section-9 Start */

section#map {
    min-height: 1000px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.visible2 {
    font-family: 'oswald';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #ffffff;
    padding-top: 70px;
}

.learn {
    font-family: 'poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #03174c;
}

.business {
    background-color: #ffffff;
    width: 77%;
}

/* Section-9 End */


/* Section-10 Start */

.multigridlayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
    grid-template-rows: repeat(2, 1fr);
}

.multigridlayout .card:first-child {
    grid-row-start: 1;
    grid-row-end: -1;
}

.blog-subtext {
    text-align: left;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #00a7e1;
}

.blog-title {
    text-align: left;
    font-family: 'oswald';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #03174c;
}

.blog-text {
    text-align: left;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #231f20;
}

.footer-blog {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F32735;
    padding-left: 30px;
}

.blog-body {
    padding: 30px 50px 0px 30px;
}

.blog-logo {
    width: 400px;
    height: 227px;
}

.blog-img {
    height: 310px;
}

/*Responsive*/

@media screen and (max-width: 1024px) {
    .multigridlayout {
        grid-template-columns: auto;
    }

    .blog {
        flex-direction: column;
    }

    .blog-logo {
        width: 280px;
    }
}

@media only screen and (min-width:1025px) and (max-width: 1500px) {
    .blog-logo {
        object-fit: contain;
    }
}

/* Section-10 End */


/* Section-11 Start */

.subscribe {
    font-family: 'oswald';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #03174c;
}

.newsletter .content h2 {
    color: #231f20;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 0px !important;
    padding-top: 45px;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.newsletter .content h2 {
    color: #243c4f;
}

.newsletter .content .form-control {
    height: 69px;
    border-color: #d1d6dc;
    border-radius: 0;
}

/* .newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
    } */

.newsletter .content .btn {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border-radius: 0;
    background: #f32735;
    color: #fff;
    font-weight: 600;
    padding: 23px 55px;
}

/*Responsive*/

@media screen and (max-width: 500px) {
    .newsletter .content .btn {
        padding: 23px 15px;
    }
}

@media screen and (max-width: 991px) {
    .subscribe1 {
        flex-direction: column;
    }

    .subscribe2 {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media only screen and (min-width:992px) and (max-width: 1200px) {
    .subscribe {
        font-size: 25px;
    }
}

@media only screen and (min-width:992px) and (max-width: 1400px) {
    .newsletter {
        margin-right: 10px;
    }
}

/* Section-11 End */


/* Footer Start */

.footer_bg {
    background: url(./image/Footer_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px !important;
    margin-top: 70px !important;
}

.contents1 {
    font-family: 'poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff !important;
}

.contents2 {
    font-family: 'oswald';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff !important;
}

.divider {
    color: #ffffff;
}

/*Responsive*/

@media screen and (max-width: 767px) {
    .resroo {
        padding-top: 0px !important;
    }
}

@media only screen and (min-width:924px) and (max-width: 1027px) {
    .red_btn {
        font-size: 9px;
    }
}

/* Footer End */